<nav class="navbar">
<!-- disini konten navbar -->
  <div class="kontainer-table">
    <a id="navbar-home"><i class="fa fa-home"></i>&nbsp;HOME</a>
    <button class="menu-button" role="button" aria-label="menu-open">
      <i class="fa fa-bars"></i>
    </button>
  </div>
</nav>
<div id="menu">
  <button style="display: none" class="menu-button" role="button" aria-label="menu-close">
    <i class="fa fa-close"></i>
  </button>
  <div id="menu-kontainer" class="kontainer">
    <a class="menu-link" id="about-link">ABOUT</a>
    <a class="menu-link" id="portfolio-link">PORTFOLIO</a>
    <a class="menu-link" id="report-link">REPORT</a>
    <a class="menu-link" id="blogsite-link" href="https://sutanlab.js.org">BLOG</a>
    <a class="menu-link" id="contact-link">CONTACT</a>
  </div>
</div>
